.btn {
    flex-shrink: 1;
    flex-wrap: nowrap;
    flex-basis: 200px;

    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-container {
    display: flex;
    gap: 10px;
}

.rock {
    background-color: rgb(37, 9, 9);
}

.paper {
    background-color: rgb(133, 133, 133);
}

.scissors {
    background-color: rgb(10, 10, 148);
}

.results {
    font-size: large;
}