body {
    text-align: center;
}

.btn {
    flex-shrink: 1;
    flex-wrap: nowrap;
    flex-basis: 120px;

    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(57, 131, 119);
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.round-result {
    font-size: 24px;
}

.score-count {
    font-size: 24px;
}